<h1>New Elf</h1>

<%= form_with model: @elf do |f|%>
  <%= render partial: 'shared/errors', locals: { record: @elf } %>
  <%= render partial: "form", locals: {f: f} %>
    <br>
    <%= f.submit "Create an Elf" %>
  <% end %>
  <br>