<h1>Welcome to Letters to Santa</h1>
  <h3>A place to send letters to Santa with the help from an elf!</h3>
    <%= link_to "Login", login_path %>
  <br>
    <%= link_to "Signup", signup_path %>
  <br>
</p>
  

