<h1>Welcome <%= @user.kid_name %>! </h1>
<h2>My letters:</h2>
<br>
    <dl><% @user.letters.each do |letter| %>
        <dt><%= link_to letter.content, letter_path(letter) %></dt>
            <dd>Elf: <%= letter.elf.name  %></dd>
            
    </dl>
    <br>
    <% end %>

<br>