<h1>Letters to Santa</h1>

<ul>
<% @letters.all.each do |letter| %> 
    <li><%= link_to letter.user.email, letter_path(letter) %></li>
<% end %>
</ul>


<%= link_to "Create Letter", new_letter_path %>