<% if @elf %>
    <h1><%= @elf.name %>'s Letters</h1>
<% else %> 
    <h1>All Letters</h1>
<% end %>


<%= render partial: "letter", collection: @letters, as: :l %>
<br>

<%= link_to "Create Letter", new_elf_letter_path %>